# Generated
Packages/
DevPackages/
.rokit/
**/*.rbx[lm]*
.DS_Store
roblox.yml
roblox.toml
globalTypes.d.lua
sourcemap.json
sourcemap.test.json

# Claude
.claude/

# Dist directories
dist/
dist_test_runner/