# Generated
Packages/
DevPackages/
.rokit/
**/*.rbx[lm]*
.DS_Store
roblox.yml
roblox.toml
globalTypes.d.luau
sourcemap.json
sourcemap.test.json

# Dist directories
dist/
test_runner/

# Project configuration
*.env
project.config.toml

# Python cache
__pycache__/
*.py[cod]
*$py.class